img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 768px;

}
body{
  margin: 0;
  font-family: Roboto;
  background: url(Imagenes/Cuart.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size:cover;
}

.container{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  justify-content: center;
}

h1, h2, h3 {
font-family: 'Roboto', sans-serif;
font-size: auto;
  text-align: center;
  width: auto;
    color: #a12201;
    background: #212f3c;
    opacity: 1;
    border-width: thin;
    margin: 0;
}

.texto-borde {
color: #a12201;
}

header{
  width: 100%;
  background: #212f3c;
  a {color: #ffffff;}
}

#btn-menu {
  display: none;
}
header label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-bottom:  1px solid #174b87;
  border-right: 1px solid #a12201;
}
header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.menu ul{
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-center
}

.menu li{
  text-align: left;
  flex-grow: 1;
}

.menu li:hover{
  background: rgba(0, 0, 0, 0.3);
}

.menu li a {
  display: block;
  padding: 10px 20px;
  color: #174b87;
  border-right: 1px solid #7c7c7c;
  border-bottom: 1px solid #7c7c7c;
  border-radius: 20px;
}

.box {
  margin: 20px;
  width: auto;
  text-align: left;
  padding: 20 20px;
  border-radius: 20px;
  opacity: 100%;
}

.box h2 {
  width: auto;
  margin-left: -1px;
  padding: 15px;
  -webkit-border-top-left-radius: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
text-align: left;
color: #fff;
font-size: 20px;
}

.boxI {
  overflow: hidden;
  margin: 15px;
  width: auto;
  height: 300px;
  text-align: center;
  padding: 20 20px;
  align-content: center;
  border: 5px solid #769b05;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  opacity: 100%;
}

.phot {
  align: center;
  margin: auto;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #b5b5b5;
  margin: 20;
  border-radius: 15px;
  position: static;
  width: 75%;
  height: 150px;
  text-align: left;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  width: auto;
    color: #ffffff;
}

.insti {
  float: right;
  background: #ffff;
}

.inst {
  float: right;
  align-items: : center;
  width: auto;
  height: auto;
}

div {
  width: 80%;
  height: auto;
  text-align: center;
  border-left-width: thin;
  border-right-width: thin;
  border-bottom-width: thin;
  border-top-color: #a12201;
  border-left-color: #174b87;
  background: #cdcdcd;
  color: #000;
  font-size: 1.0;
  font-family: 'Roboto', sans-serif;
  float: left;
  margin: 20px 30px;
}

.text {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: left;
  width: auto;
}

.titim {
  text-align: center;
  text-shadow: 1.5px 1.5px  #000000;
  color: #b6b6b6;
}


form {
  width: 700px;
  margin: auto;
  background-color: #fff;
}

input, textarea{
  margin: 12px;
  padding: 8px;
  min-width: 640px;
  max-width: 640px;
  font-size: 18px;
  min-height: 100px;
  max-height: 300px;
  margin-bottom: 5px;
}

.ir-arriba {
    display: block;
    padding: 20px;
    background-color: rgba(33, 47, 60, 1);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom:-100px;
    right: 20px;
    border-radius: 20px;
    transition: 0.3s ease-in-out bottom;
  }

  .arriba2 {
    bottom: 20px;
  }

  .ir-arriba:hover {
      background-color: rgba(33, 47, 60, 0.8);
  }

.box input, textarea {
    width: 100%;
    background: #282828;
    border: 1px solid #393939;
    padding: 7px 10px;
    margin: 0px 0px 10px 0px;
    background-color: #FAFAFA;
}

.box textarea {
    height: 100px;
}


.box .btn-primary {
    background: #212f3c;
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 800;
}

.box .btn-primary:hover {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width:768px) {
  header label{
    display: block;
  }
  .menu {
    position: absolute;
    background: #212f3c;
    width: 70%;
    margin-left: -70%;
  }

  .menu ul {
    flex-direction: column;
  }

  .menu li {
    border-top: 1px solid #174b87
  }

  #btn-menu:checked ~ .menu {
     margin: 0;


  }
  .imag {
    display: none;
  }


  a:hover, a:focus {
    color: #7d7d7d;
    outline: none;
    text-decoration: none;
  }
  a:hover, a:focus {
      color: #2a6496;
      text-decoration: underline;
  }
  a:active, a:hover {
      outline: 0;
  }

  a {
      background: transparent;
  }

  a:-webkit-any-link {
      color: -webkit-link;
      cursor: pointer;
      text-decoration: underline;
  }

  *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  h1{
    font-size: auto;

  }
}
